main{
	grid-template-columns: auto;
}
.contact{
	display: grid;
	background: #fff;
	grid-template-columns: auto;
	margin: 0.3em 0.3em 0em 0.3em;
	grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "info"
						 "contact"
						 "bank"
						 "map";
}
.contact>div{
	justify-self: start;
	align-self: start;
	text-align: justify;
	
}

.contact>div h2{
	margin: 10px 0 0 10px;
}
.contact>div p{
	margin: 10px 10px 10px 10px;
}

.info{
	grid-area: info;
}
.contactinfo{
	grid-area: contact;
}
.bank{
	grid-area: bank;
}
#map{
	grid-area: map;
	width: 100%;
	height:20em;
}
#info img{
	display: none;
}

@media only screen and (min-width: 600px){
	.contact{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto;
		grid-template-areas: "info bank"
							 "contact bank"
							 "map map";
	}
}


