main{
	grid-template-columns: auto;
}
.contact{
	display: grid;
	background: #fff;
	grid-template-columns: auto;
	margin: 0.3em 0.3em 0em 0.3em;
	padding: 10px;
	grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "info bank"
                         "contact contact";
}
.contact>div{
	justify-self: start;
	align-self: start;
	text-align: justify;
}

.contact>div h2{
	margin: 10px 0 0 10px;
	font-size: 1.5em;
}
.contact>div p{
	margin: 10px 10px 10px 10px;
	font-size: 1.3em;
}

.info{
	grid-area: info;
}
.contactinfo{
	grid-area: contact;
}
.bank{
	grid-area: bank;
}




@media only screen and (max-width: 1023px) {
	.contact>div h2{
		font-size: 1.2em;
	}
	.contact>div p{
		
		font-size: 1em;
	}
}
@media only screen and (max-width: 600px) {
   
}


