footer{/*page footer*/
	width: 100%;
	min-height: 6em;
	padding: 1em 0;
	background:#ddd;
	/*font*/
	font-size: 0.9em;
	color:#131313;
	font-weight: 600;
	z-index: 20;
	border-bottom:10px solid #dc144c; 
	
}
@media only screen and (max-width: 767px) {
	footer{
		font-size: 0.8em;
	}
}