.right_gallery{
	position:fixed;
	top:45vh;
	right:0;
	z-index:40;
	color:#eee;
	font-size:3em;
	margin:0px 25px;
}
.left_gallery{
	position:fixed;
	top:45vh;
	left:0;
	z-index:40;
	color:#eee;
	font-size:3em;
	margin:0px 25px;
}

@media only screen and (min-width: 440px) {
	.right_gallery{
		font-size: 4em;
	}
	.left_gallery{
		font-size: 4em;
	}

}


